body{
    margin: 0;
    top: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: rgb(55, 1, 65);
    color: #5c2e65;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px;
    font-size: 20px;
}

#titulo{
    margin-left: 10px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

#icone-header{
    display: flex;
    align-items: center;
}

.voltar{
    color: white;
    text-decoration: none;
}

.voltar:hover{
    color: #f19df8;
    text-decoration: underline;
    transition: 0.1s ease;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

h1{
    font-size: 40px;
}

footer{
    background-color:  rgb(55, 1, 65);
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}