body{
    margin: 0;
    top: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: rgb(55, 1, 65);
    padding: 10px;
    margin-bottom: 50px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.genero{
    /* posicionamento dos itens de dentro da div */
    display: flex;
    flex-direction: column; /* faz os itens ficarem alinhas por coluna, pois sem ele ficam um do lado do outro */
    align-items: center;
    justify-content: center;
    /* configurações das divs */
    min-width: 300px;
    min-height: 300px;
    box-shadow: 0 0 20px 10px rgba(55, 1, 65, 0.9);
    margin-bottom: 20px;
    border-radius: 50px;
    padding-top: 20px;
}

.genero:hover{
    transform: scale(1.033);
    transition: 0.5s;
    cursor: pointer;
}


.container-genero{
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    gap: 45px;
    max-width: 1000px;
    min-width: 650px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    background-color:  rgb(55, 1, 65);
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

