body{
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}

header{
    background-color: rgb(55, 1, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

#titulo{
    margin-left: 10px;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

#icone-header{
    display: flex;
    align-items: center;
}

.pagina-inicial{
    color: white;
    text-decoration: none;
}

.pagina-inicial:hover{
    color: #f19df8;
    text-decoration: underline;
    transition: 0.1s ease;
}

#corpo{
    margin: 0 auto;
    width: 70%;
    display: flex;
}

.botao{
    background-color: rgb(55, 1, 65);
    padding: 5px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 30px;
}

.botao:hover{
    background-color: rgb(36, 2, 42);
    text-decoration: underline;
    transition: 0.1s ease;
    transform: scale(0.99);
}

#texto{
    width: 700px; 
    margin-left: 70px;
    padding: 25px;
    font-size: 20px;
    text-align: justify;
}

footer{
    background-color:  rgb(55, 1, 65);
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Bebas Neue', sans-serif;
}